<header class="w-full px-3 py-4 bg-primary sm:px-8">
    <div class="flex items-center justify-between wrapper">
        <div class="flex items-center justify-between w-auto lg:w-1/2 gap-x-10">
            <img src="/assets/images/logo.svg" alt="Logo" class="w-3/4 sm:w-40">
            <nav class="hidden sm:block">
                <ul class="flex gap-x-5 text-md">
                    <li><a href="/" class="text-white button">Home</a></li>
                    <li><a href="/quiz/attend" class="bg-white button-filled text-primary">Play a
                            quiz</a></li>
                </ul>
            </nav>
        </div>
        <div class="flex item-center gap-x-5">

            <a href="/signup" class="button-filled bg-secondary">Sign Up</a>
            <a href="/login" class="text-white border-2 button-outline">Login</a>
        </div>
    </div>
    <script defer>
        const route = document.documentElement.getAttribute("data-route")
        const link = document.querySelector(`a[href='${route}'`)
        if (link) boldOut(link)
    </script>
</header>
