<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body class="h-screen bg-gray-200">
    <header class="w-full px-3 py-4 bg-white sm:px-8 drop-shadow-sm">
        <div class="flex items-center justify-between wrapper gap-x-4">
            <div class="flex items-center justify-between gap-x-5 sm:gap-x-20" style="min-width: 50%;">
                <a href="/" class="w-full"><img src="/assets/images/logo-primary.svg" alt="Logo"></a>
                <nav>
                    <ul class="flex text-lg font-semibold text-gray-500 sm:gap-x-5 gap-x-2">
                        <li><a href="/quiz/create" class="text-white button-filled bg-primary">Create</a>
                        </li>
                        <li><a href="/quiz/attend" class="text-white button-filled bg-secondary">Play</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="flex item-center gap-x-5">
                <a href="/logout" class="text-white bg-red-500 button-filled">Logout</a>
            </div>
        </div>
    </header>

    <%- body %>
</body>

</html>
