<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body class="bg-gray-200 h-screen">
    <header class="w-full px-8 py-4 bg-light drop-shadow-sm">
        <div class="wrapper flex items-center justify-between">
            <div class="flex items-center justify-between min-w-max gap-x-5" style="min-width: 50%;">
                <a href="/"><img src="/assets/images/logo-primary.svg" alt="Logo"></a>
                <nav>
                    <ul class="flex gap-x-5 text-lg font-semibold text-gray-500">
                        <li><a href="/quiz/create" class="button button-primary shadow-md transition-opacity hover:opacity-90">Create</a>
                        </li>
                        <li><a href="/quiz/attend" class="button button-secondary shadow-md transition-opacity hover:opacity-90">Play</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="flex item-center gap-x-5">
                <a href="/logout" class="button text-white shadow-md bg-red-500 text-md transition-opacity hover:opacity-90">Logout</a>
            </div>
        </div>
    </header>

    <%- body %>
</body>

</html>
