<body>
    <style>
        .container {
            padding: 2.5rem 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 2.5rem;
        }

        .message {
            text-align: center;
            color: rgb(55, 65, 81);
            font-weight: 600;
        }

        .link {
            margin-inline: auto;
            font-weight: 600;
            background-color: #25A55F;
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
        }

    </style>
    <div class="container">

        <% if (process.env.NODE_ENV === 'development') { %>
        <img src="http://localhost:3000/assets/images/logo-primary.svg" alt="Quiziz">
        <% } else { %>
        <img src="https://quiziz.herokuapp.com/assets/images/logo-primary.svg" alt="Quiziz">
        <% } %>

        <p class="message">
            You received this email because you wanted to change your password.
            <br /> If it's not you, just ignore this email.
        </p>

        <% if (process.env.NODE_ENV === 'development') { %>
        <a href="http://localhost:3000/changePassword/<%= passResetId %>" class="link">Reset Password</a>
        <% } else { %>
        <a href="https://quiziz.herokuapp.com/changePassword/<%= passResetId %>" class="link">Reset
            Password</a>
        <% } %>
    </div>
</body>
