<body class="grid h-screen overflow-hidden place-items-center">
    <div class="relative border-black message ">
        <h1 class="mt-5 font-bold text-primary" style="font-size: 45px; line-height:0;">Ooops! Something went
            <div class="mt-16">wrong!</div>
        </h1>
        <div class="flex items-center justify-between w-full mt-20">
            <div class="font-bold text-gray-500">
                <%= errorMessage %>
            </div>
            <a href="/" class="text-gray-600 border-gray-600 button-outline">Go
                Back</a>
        </div>
    </div>
    <style>
        .message::before,
        .message::after {
            content: '';
            position: absolute;
            width: 87px;
            height: 359px;
        }

        .message::before {
            left: max(-200px, -20vw);
            background: url('/assets/images/!_green.svg');
        }

        .message::after {
            right: max(-200px, -20vw);
            bottom: 0;
            background: url('/assets/images/!_red.svg');
        }

    </style>
</body>
