<body class="grid min-h-screen px-5 place-items-center bg-primary">
    <form class="flex flex-col items-center justify-between p-5 bg-white rounded-2xl form-shadow gap-y-32 sm:w-96">
        <h1 class="text-2xl font-bold text-primary">Password reset</h1>
        <div class="flex flex-col justify-around w-full gap-y-10 h-1/2">
            <div class="flex justify-center">
                <div id="messageDiv" class="font-medium text-center text-gray-700 info">Please enter the email address which you registered with and we'll send you an email to change your password.</div>
                <div class="hidden loader"></div>
            </div>
            <div>
                <input class="w-full px-2 pb-1 my-1 text-lg transition border-b-2 border-primary focus:border-gray-900 focus:outline-none focus:bg-gray-100 focus:duration-200 rounded-t-md" type="email" name="email" id="emailInp" placeholder="Enter an email">
                <div class="text-red-500 error-div" data-for="email"></div>
            </div>

        </div>

        <button id="submitBtn" class="w-full button-filled bg-secondary">Request password
            reset</button>
    </form>
    <script src="/scripts/auth.js"></script>
    <script>
        const submitBtn = document.getElementById('submitBtn')

        submitBtn.addEventListener('click', async e => {
            e.preventDefault()
            document.querySelectorAll('.error-div').forEach(el => el.innerText = '')

            const email = document.getElementById('emailInp').value

            // Showing the loading animation
            messageDiv.classList.add('hidden')
            document.querySelector('.loader').classList.remove('hidden')

            const res = await fetch('/forgotPassword', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email
                })
            })

            if (res.ok) {

                const messageDiv = document.getElementById('messageDiv')

                messageDiv.classList.add('success')
                messageDiv.innerHTML = `An email has been sent to <code>${email}</code>. Follow the instrcutions to change your password.`

                // Hiding the loading animation
                messageDiv.classList.remove('hidden')
                document.querySelector('.loader').classList.add('hidden')

            } else {
                const err = await res.json()

                if (err.inputs) {
                    for (let name in err.inputs) {
                        const value = err.inputs[name]
                        const errorField = document.querySelector(`.error-div[data-for=${name}]`)
                        errorField.innerText = value
                    }

                    // Hiding the loading animation
                    messageDiv.classList.remove('hidden')
                    document.querySelector('.loader').classList.add('hidden')

                    return
                }

                displayErrorPage(res.status)
            }
        })
    </script>
</body>
