<body class="">
    <section class="bg-primary fill-browser-height">
        <div class="wrapper">
            <div class="flex justify-between w-full mt-20 text-white">
                <div class=" gap-y-8">
                    <h1 class="text-4xl font-bold mb-7" style="line-height: 60px">Taking quizes to the <br> Next Level🚀</h1>
                    <p class=" mb-11">Quiziz lets you create quizes and other <br> people can then attend it.</p>
                    <a href="/signup" class="text-xl button-filled bg-secondary">Sign Up for free</a>
                </div>
                <img src="/assets/images/form-sekeleton.svg" alt="Skeleton image of a question in Quiziz">
            </div>
        </div>
    </section>
</body>
