<body class="flex flex-col items-center justify-center h-screen bg-primary gap-y-20">
    <div class="px-4 text-3xl font-bold text-center text-white md:text-4xl "><%= message %></div>
    <a href="/" class="text-white button-outline-live hover:text-primary">Go home</a>
</body>
