<body>
    <script defer src="/scripts/settings.js"></script>
    <div id="updateMessage" class="hidden w-full bg-blue-400">
        <div class="flex items-center justify-between w-full px-5 py-1 bg-blue-400 wrapper ">
            <div class="font-semibold text-white">The settings were succesfuly updated :)</div>
            <button id="closeUpdateMessageBtn">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-white rounded-md" fill="white" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
    </div>
    <div class="flex flex-col gap-10 px-3 py-10 wrapper lg:flex-row md:px-32">
        <div class="flex flex-col gap-y-3">
            <a href="/settings/profile" id="profileBtn" class="px-8 py-2 text-xl font-medium text-center text-gray-800 transition-colors rounded-md tab-button hover:bg-gray-300">Profile</a>
            <a href="/settings/account" id="accountBtn" class="px-8 py-2 text-xl font-medium text-center text-gray-800 transition-colors rounded-md tab-button hover:bg-gray-300">Account</a>
            <a href="/settings/data" id="dataBtn" class="px-8 py-2 text-xl font-medium text-center text-gray-800 transition-colors rounded-md tab-button hover:bg-gray-300">Data</a>
        </div>
        <div class="flex-1 px-5 pt-2 pb-10 bg-white rounded-lg shadow-md">
            <%- include(`partials/settings/${path}.ejs`) %>
        </div>
    </div>
    <script>
        const selectedBtnId = '<%= path %>Btn'
    </script>
</body>
