<div class="mt-2 text-lg font-semibold text-gray-800 text-center">Answer</div>

<ul class="flex">
    <li data-value="true" class="true-false px-3 border-2 border-r border-gray-700 cursor-pointer hover:bg-gray-300 transition-colors" style="border-top-left-radius: 12px; border-bottom-left-radius: 12px">
        True
    </li>
    <li data-value="false" class="true-false px-3 border-2 border-l border-gray-700 cursor-pointer hover:bg-gray-300 transition-colors" style="border-top-right-radius: 12px; border-bottom-right-radius: 12px">
        False
    </li>
</ul>
