<div class="mt-2 text-lg font-semibold text-center text-gray-800">Answer</div>

<ul class="flex">
    <li data-value="true" class="px-3 transition-colors border-2 border-r border-gray-700 cursor-pointer true-false hover:bg-gray-300" style="border-top-left-radius: 12px; border-bottom-left-radius: 12px">
        True
    </li>
    <li data-value="false" class="px-3 transition-colors border-2 border-l border-gray-700 cursor-pointer true-false hover:bg-gray-300" style="border-top-right-radius: 12px; border-bottom-right-radius: 12px">
        False
    </li>
</ul>
