@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

code {
    @apply px-1 bg-gray-200 rounded-sm !important;
}

section {
    @apply sm:px-8 px-3 overflow-y-hidden fill-browser-height !important;
}

.fill-browser-height {
    content: '';
}

.question-button.selected {
    @apply bg-gray-600 !important;
}

.true-false.selected {
    @apply text-white bg-primary !important;
}

.true-false.selected:hover {
    @apply bg-primary !important;
}

.tab-button.selected {
    @apply text-white bg-primary !important;
}

.tab-button.selected:hover {
    @apply text-white bg-primary !important;
}

.toggle.active {
    @apply bg-primary !important;
}

.toggle.active > * {
    @apply translate-x-6 !important;
}

.info.success {
    @apply text-green-700 !important;
}

.rating-star.selected {
    @apply text-yellow-500 fill-current !important;
}

.form-shadow {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
}

.input-error {
    @apply border-red-500;
}

.wrapper {
    @apply max-w-screen-xl mx-auto;
}

.button {
    @apply inline-flex items-center justify-center px-2 py-1 text-base text-center rounded-md cursor-pointer md:text-lg md:px-4 md:py-2;
}

.button-outline {
    @apply font-medium border button;
}

.button-outline-live {
    @apply transition-colors button-outline hover:bg-gray-100 active:bg-gray-200;
}

.button-filled {
    @apply font-semibold text-white transition-opacity shadow-md button hover:opacity-90;
}

.loader {
    @apply w-16 h-16 border-gray-200 rounded-full border-6 border-t-primary animate-rotate;
}

.link {
    @apply mx-auto font-semibold bg-primary px-2.5 py-1 rounded-md text-white;
}

@keyframes rotate {
    0% {
        transform: rotate((0deg));
    }

    100% {
        transform: rotate(360deg);
    }
}
