<div class="relative grid w-full h-full grid-cols-2 gap-2 overflow-hidden">
    <div data-index="0" class="grid w-full h-full px-3 py-5 font-bold text-white bg-red-500 text-md md:text-2xl choice-design rounded-xl place-items-center">
        1
    </div>
    <div data-index="1" class="grid w-full h-full px-3 py-5 font-bold text-white bg-blue-500 text-md md:text-2xl choice-design rounded-xl place-items-center">
        2
    </div>
    <div data-index="2" class="grid w-full h-full px-3 py-5 font-bold text-white bg-yellow-500 text-md md:text-2xl choice-design rounded-xl place-items-center">
        3
    </div>
    <div data-index="3" class="grid w-full h-full px-3 py-5 font-bold text-white bg-green-500 text-md md:text-2xl choice-design rounded-xl place-items-center">
        4
    </div>
</div>
