<div class="mb-2 text-lg font-semibold text-center text-gray-800">Answer</div>

<ul class="grid grid-cols-2 gap-2">
    <li data-index="0" data-value="0" class="grid px-3 transition-colors border-2 border-gray-700 rounded-md cursor-pointer place-items-center choice hover:bg-gray-300">
        1
    </li>
    <li data-index="1" data-value="1" class="grid px-3 transition-colors border-2 border-gray-700 rounded-md cursor-pointer place-items-center choice hover:bg-gray-300">
        2
    </li>
    <li data-index="2" data-value="2" class="grid px-3 transition-colors border-2 border-gray-700 rounded-md cursor-pointer place-items-center choice hover:bg-gray-300">
        3
    </li>
    <li data-index="3" data-value="3" class="grid px-3 transition-colors border-2 border-gray-700 rounded-md cursor-pointer place-items-center choice hover:bg-gray-300">
        4
    </li>
</ul>

<div class="flex flex-col w-full mt-10 gap-y-2">
    <div class="flex items-center justify-between gap-x-5">
        <div class="font-medium">1:</div>
        <input data-index="0" type="text" class="px-2 py-0.5 bg-gray-100 border-2 border-gray-700 rounded-md outline-none choice-input">
    </div>
    <div class="flex items-center justify-between gap-x-5">
        <div class="font-medium">2:</div>
        <input data-index="1" type="text" class="px-2 py-0.5 bg-gray-100 border-2 border-gray-700 rounded-md outline-none choice-input">
    </div>
    <div class="flex items-center justify-between gap-x-5">
        <div class="font-medium">3:</div>
        <input data-index="2" type="text" class="px-2 py-0.5 bg-gray-100 border-2 border-gray-700 rounded-md outline-none choice-input">
    </div>
    <div class="flex items-center justify-between gap-x-5">
        <div class="font-medium">4:</div>
        <input data-index="3" type="text" class="px-2 py-0.5 bg-gray-100 border-2 border-gray-700 rounded-md outline-none choice-input">
    </div>
</div>
