<div class="text-2xl font-bold text-gray-800">Change password</div>
<div class="bg-primary rounded-full w-full h-0.5 mt-2 mb-10"></div>

<form class="flex flex-col flex-1 w-full pl-4 gap-y-5 sm:w-1/2">
    <div>
        <label for="oldPasswordInp" class="block mb-2 text-lg font-medium text-gray-700">Old
            password</label>
        <input id="oldPasswordInp" type="password" class="block w-full px-2 py-1 bg-gray-100 border border-black rounded-md settings-input">
        <div class="text-red-500 error-div" data-for="oldPassword"></div>
    </div>
    <div>
        <label for="newPasswordInp" class="block mb-2 text-lg font-medium text-gray-700">New
            password</label>
        <input id="newPasswordInp" type="password" class="block w-full px-2 py-1 bg-gray-100 border border-black rounded-md settings-input">
        <div class="text-red-500 error-div" data-for="password"></div>
    </div>
    <div>
        <label for="confirmPasswordInp" class="block mb-2 text-lg font-medium text-gray-700">Confirm
            password</label>
        <input id="confirmPasswordInp" type="password" class="block w-full px-2 py-1 bg-gray-100 border border-black rounded-md settings-input">
        <div class="text-red-500 error-div" data-for="confirmPassword"></div>
    </div>

    <div>
        <button onclick="changePassword()" class="px-5 py-1 text-xl font-medium text-white transition-opacity rounded-md shadow-sm bg-primary hover:opacity-90">Save</button>
    </div>

</form>

<div class="mt-10 text-2xl font-bold text-gray-800">Stats</div>
<div class="bg-primary rounded-full w-full h-0.5 mt-2 mb-10"></div>

<div class="flex flex-col flex-1 w-full pl-4 gap-y-5">
    <div class="flex justify-between w-full">
        <label for="statsToggle" class="block mb-2 text-lg font-medium text-gray-700">Show
            stats</label>
        <div id="statsToggle" class="toggle <%= userInfo.showStats ? 'active' : '' %> flex items-center w-12 h-6 rounded-2xl bg-gray-400 cursor-pointer transition-colors" style="padding: 2px;" onclick="this.classList.toggle('active')">
            <div class="w-5 h-5 transition-transform duration-300 ease-in-out bg-white rounded-full">
            </div>
        </div>
    </div>

    <div class="flex justify-between w-full">
        <label for="showQuizzesToggle" class="block mb-2 text-lg font-medium text-gray-700">Show
            quizzes</label>
        <div id="showQuizzesToggle" class="toggle <%= userInfo.showQuizzes ? 'active' : '' %> flex items-center w-12 h-6 rounded-2xl bg-gray-400 cursor-pointer transition-colors" style="padding: 2px;" onclick="this.classList.toggle('active')">
            <div class="w-5 h-5 transition-transform duration-300 ease-in-out bg-white rounded-full">
            </div>
        </div>
    </div>

    <div>
        <button onclick="saveStats()" class="px-5 py-1 text-xl font-medium text-white transition-opacity rounded-md shadow-sm bg-primary hover:opacity-90">Save</button>
    </div>

</div>
<script>
    async function changePassword() {

        const data = {
            oldPassword: oldPasswordInp.value,
            newPassword: newPasswordInp.value,
            confirmPassword: confirmPasswordInp.value
        }

        const res = await fetch('/settings/account', {
            method: 'POST',
            headers: {
                'Content-Type': 'Application/json'
            },
            body: JSON.stringify(data)
        })

        if (res.ok) {

            showUpdateMessage()

        } else {
            const err = await res.json()

            if (err.inputs) {

                for (let name in err.inputs) {
                    const value = err.inputs[name]
                    const errorField = document.querySelector(`.error-div[data-for='${name}']`)
                    errorField.innerText = value
                }

            } else {
                displayErrorPage(res.status)
            }
        }
    }

    async function saveStats() {

        const data = {
            showStats: statsToggle.classList.contains('active'),
            showQuizzes: showQuizzesToggle.classList.contains('active')
        }

        const res = await fetch('/settings/account', {
            method: 'POST',
            headers: {
                'Content-Type': 'Application/json'
            },
            body: JSON.stringify(data)
        })

        if (res.ok) {
            showUpdateMessage()
        } else {
            displayErrorPage(res.status)
        }
    }
</script>
